@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainLinkColor-light:#0092cc;
    --mainLinkColor-light:#3195ff;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainLinkColor-dark:#0092cc;
    --mainLinkColor-dark:#3195ff;
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    
    --mainTextColor:var(--mainTextColor-light); 
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);

   
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}


*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}
html {
    scroll-behavior: smooth;
  }
  

body{
    background-color: var(--mainBgColor);            
}
#span-head{
    font-size:0.7em;
    color: var(--mainTextColor);
    
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
    padding: 10px;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#pic{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    column-gap:1em;
    flex-wrap: wrap;
}
#socials--lists{
    display: flex;
    justify-content: space-around;
    column-gap:0.5em ;
    flex-wrap: wrap; 

}


#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}
#socials--lists a{
    font-weight: 600;
    color: var(--secondaryTextColor);
    font-size: 1em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 1em;
}
#socials--lists a:hover{
    font-weight: 600;
    color: var(--mainLinkColor);
    font-size: 1em;
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}
.card--techstack a{
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
    font-weight:500;
}
.card--techstack a:hover{
    font-weight:900;
    
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: #0092cc;

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

h4{
    align-items: center;
    text-align: center;
}

@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}
  pre code {
    background-color:#fff;
    color:#000;
    /* border: 1px solid #999; */
    display: inline-block;
    height:auto;
    padding: 10px;
    box-sizing: border-box;
   }

/* project cards */
.main{
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    background: #131415;
    border:none;
    color:#adb0b1;
    background-color: #2b3031;
  }
  
  .btn:hover {
    font-weight: 600;
    color:#0092cc;
  }
  
  .cards {
   
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: #2b3031;
    border-radius: 0.25rem;
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
 
  
  .card_content {
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:#131415;
    background-color: #2b3031;
    
  }
  
  .card_title {
    color: #adb0b1;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #adb0b1;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
